body {
    background: url("../assets/image/destroyedcity.jpg") fixed no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
}

#zombietitle {
   
}

p {
    text-align: center;
    color: white;

}

#viewbtn {
  
}

#survivorbtn {
 
}
