body {
  background-image: url("../assets/image/destroyedcity.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: 'Pangolin', cursive;
  
}

button.submit {
  float: right;
}

form#ims {
  margin-top: 50px;
}

#ims textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.survivor-container {
  margin-top: 50px;
}

.survivor-list {
  margin-top: 25px;
}

.inventory-container {
  margin-top: 30px;
}

.inventory {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#survivor-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
